@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #141414;
}

.nav__title {
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  color: #e50914; 
  text-transform: uppercase;
}

.nav__links {
  display: flex;
  gap: 20px;
}

.nav a {
  font-family: 'Pacifico'; 
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav a:hover {
  text-decoration: underline;
}
